In [4]:
my_tuple = (1, 2, 3, 4+5j, 3.141, ['A', 'b'], 1, 2)

In [5]:
print(type(my_tuple))

<class 'tuple'>

In [6]:
print(my_tuple)

(1, 2, 3, (4+5j), 3.141, ['A', 'b'], 1, 2)

In [7]:
len(my_tuple)

8

In [8]:
my_tuple[3]

(4+5j)

In [9]:
my_tuple[-5]

(4+5j)

In [12]:
my_tuple[4:]

(3.141, ['A', 'b'], 1, 2)

In [13]:
my_tuple[-4:]

(3.141, ['A', 'b'], 1, 2)

In [19]:
# Bhai mai idhr tuple bna rha h fir usko kholega kch bdlega fir se bnayega 
x = ("apple", "banana", "cherry")

# print(type(x))
# print(x)

# type conversion -- i am converting tuple into a list by using list() method.
y = list(x)
# print(type(y))
# print(y)

y[1] = "kiwi"
# print(y)
x = tuple(y)

print(x)
print(type(x))

('apple', 'kiwi', 'cherry')
<class 'tuple'>

In [21]:
ver_1 = ("Amit",)
type(ver_1)

tuple

In [22]:
# How to exchange the values of two variables without creating a third one.

a = 15
b = 16

a,b = b,a 
print(a)
print(b)

16
15

In [23]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [26]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [27]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [28]:
for i in my_tuple:
    print(i)

1
2
3
(4+5j)
3.141
['A', 'b']
1
2

In [29]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [30]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')